In [3]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from collections import Counter
from sklearn.datasets import make_classification

In [16]:
diamond_train= pd.read_csv('./pm3_data/diamonds_train.csv')
diamond_train

,index_id,cut,color,clarity,depth,carat,table,x,y,z,price,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Premium,J,VS2,62.4,1.21,58.0,6.83,6.79,4.25,4268,Dubai
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Very Good,H,VS2,63.0,0.32,57.0,4.35,4.38,2.75,505,Kimberly
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Fair,G,VS1,65.5,0.71,55.0,5.62,5.53,3.65,2686,Las Vegas
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Good,D,SI1,63.8,0.41,56.0,4.68,4.72,3.00,738,Kimberly
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Ideal,G,SI1,60.5,1.02,59.0,6.55,6.51,3.95,4882,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,Ideal,G,VS1,62.7,1.34,57.0,7.10,7.04,4.43,10070,Antwerp
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,Good,F,SI2,57.1,2.02,60.0,8.31,8.25,4.73,12615,Madrid
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,Ideal,H,SI1,62.7,1.01,56.0,6.37,6.42,4.01,5457,Kimberly
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,Ideal,J,VS1,61.9,0.33,54.3,4.45,4.47,2.76,456,Kimberly
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,Ideal,I,SI1,62.0,1.24,58.0,6.83,6.88,4.25,6232,London

In [11]:
diamond_test = pd.read_csv('./pm3_data/diamonds_test.csv')
diamond_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City